.inputpanel {
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(177, 177, 230);
  height: 50px;
  margin-left: 5px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px -8px rgba(0, 0, 0, 0.75);
  background: linear-gradient(
    90deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(188, 188, 249, 1) 56%,
    rgba(169, 198, 204, 1) 100%
  );
}

.inputpanel span {
  color: orangered;
}

.inputpanel textarea {
  resize: none;
}

.inputpanel button {
  height: 50px;
  margin-right: 30px;
  font-size: x-large;
}
